body {
  background-color: #FFF8E6;
  font-family: arial, sans-serif;
}

.wrapper{
  border: 3px solid #380C00;
  width: 92%
  margin: 0 auto;
  padding: 12px 20px;
}

.inner {
  width: 92%;
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  margin-bottom: .3em;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 36px;
}

h1 .first-line {
  font-family: 'Damion', cursive;
  font-size: 22px;
}

h2{
  margin-bottom: .25em;
  margin-top: 1em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1, h2 {
  color: #EE3A00;
}

blockquote {
  border-left: 5px solid #484132;
  padding-left: 12px;
  font-style: italic;
  margin-left: 32px;
  font-family: Georgia, "Times New Roman", serif;
}


.image {
  text-align: center;
  margin: 2em -15%;
  width: 130%;
}

.caption {
  font-style: oblique;
  margin-top: .25em;
}

a {
  color: #1390E3;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 16px;
  margin-top: 8px;
}

p{
  line-height: 1.3em;
}

header {
  background-image: url(../images/elastoplast.png);
  border-bottom: 2px solid #87775c;
  text-align: center;
}

footer.wrapper {
  text-align: center;
  padding: 20px 20px;
  border-top: 2px solid #87775c;
  font-size: smaller;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
